.navbar {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-left: 0;
  width: 100%;
}

.searchIcon {
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputRoot {
  color: inherit;
  flex: 1; /* Allow the input to expand to fill available space */
}

.inputInput {
  padding: 10px 10px 10px 0;
  padding-left: calc(1em + 32px);
  width: 100%;
}
