.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app_body {
  display: flex;
  flex: 1;
}

.app_body .MuiDrawer-paper {
  position: relative;
}

.MuiGrid-root {
  padding: 20px;
}
