body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app_body {
  display: flex;
  flex: 1; /* Allow the content area to grow */
}
